<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>SuperHero Thunderdome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
        <div th:switch="${heroes}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">No heroes yet!</h2>
                    <div th:case="*">
                        <h2 class="my-5">Enter the SuperHero Thunderdome</h2>
                        <h6> My health points: <label th:text="${session.MY_HP}">HP</label>
                            <p class="my-5"><a href="/recover" class="btn btn-primary">Recover</a></p>
                            <div class="progress active">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"  aria-valuemin="0" aria-valuemax="100" th:attr="aria-valuenow=${session.MY_HP}" th:style="'width:'+ ${session.MY_HP}+'%;'"></div>
                            </div>
                        </h6>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Power</th>
                                    <th>Weakness</th>
                                    <th>HP</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>Fight</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="hero : ${heroes}">
                                    <td th:text="${hero.name}"></td>
                                    <td th:text="${hero.power}"></td>
                                    <td th:text="${hero.weakness}"></td>
                                    <td th:text="${hero.hp}"></td>
                                    <td><a th:href="@{/edit/{id}(id=${hero.id})}" class="btn btn-primary"><i class="fas fa-hero-edit ml-2">📝</i></a></td>
                                    <td><a th:href="@{/delete/{id}(id=${hero.id})}" class="btn btn-primary"><i class="fas fa-hero-times ml-2">⛔️</i></a></td>
                                    <td>
                                        <span th:if="${hero.hp} gt 0 and ${session.MY_HP} gt 0">
                                            <a th:href="@{/fight/{id}(id=${hero.id})}" class="btn btn-primary"><i class="fas fa-hero-times ml-2">Fight</i></a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <p class="my-5"><a href="/signup" class="btn btn-primary"><i class="fas fa-hero-plus ml-2">Add</i></a></p>
                </div>
            </div>
        </div>
    </body>
</html>